body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #eaf6ff;
}

 header {
    background-color: #5dade2;
    color: white;
    padding: 20px;
}

 header h1 {
    margin: 0;
}

 nav {
    margin-top: 10px;
}

 nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

 nav a:hover {
    text-decoration: underline;
}

 main {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #b9dcf5;
}

 h2 {
    color: #3498db;
}

 table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

 th {
    background-color: #3498db;
    color: white;
}

 th,
td {
    border: 1px solid #b9dcf5;
    padding: 10px;
    text-align: left;
}

 form {
    width: 400px;
}

 label {
    font-weight: bold;
}

 input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #9acbea;
}

 button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

 button:hover {
    background-color: #217dbb;
}

 a {
    color: #2980b9;
}
